{{template "base" .}}

{{define "content"}}
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="text-center mt-4">Head Pain Management</h1>
          <p>Here you will find information about pain or other symptoms happening in the head or mind, and how to treat them.</p>
				</div>
			</div>
      <div class="row">
        <div class="col">
          <br>
          Left
        </div>
        <div class="col">
          Right
        </div>
      </div>
      <div class="row">
        <div class="col">
          Left
        </div>
        <div class="col">
          Right
        </div>
      </div>
      <div class="row">
        <div class="col">
          Left
        </div>
        <div class="col">
          Right
        </div>
      </div>
      <div class="row">
        <div class="col">
          Left
        </div>
        <div class="col">
          Right
        </div>
      </div>
      <div class="row">
        <div class="col">
          Left
        </div>
        <div class="col">
          Middle
        </div>
        <div class="col">
          Right
        </div>
      </div>
{{end}}