{{template "base" .}}

{{define "content"}}
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-4">Torso Pain Management</h1>
          <p>Here you will find information about pain or other symptoms happening in the torso, and how to treat them.</p>
        </div>
      </div>
      <div class="row" style="border-top-style:solid;border-bottom-style:solid">
        <div class="col">
          <br>
          <h2>Arithritis</h2>
          <p>Arthritis is inflammation of joints. The main symptoms of this are joint pain and stiffness, which worsen with age. The most common types are osteoarthritis and rheumatoid arthritis. Osteoarthritis creates cartilage, which is tough tissue covering the ends of bones where they form a joint. Rheumatoid arthritis is an autoimmune disorder targetting the lining of joints. Uric arid crystals, infections, and when the patient is under a disease.</p>
          <p>The treatment for arthritis depends on the precise type of arthritis present. An actual diagnosis increases the chances for successful treatment. Available treatments include physical therapy, home remedies, splinting, cold-packs, and wax dips. Pain from osteoarthritis of the knee can be treated by hyaluronic acid injections. Rheumatoid arthritis can be treated with medications that suppress the immune system. Most forms of arthritis are inherited to a certain degree, so there is no real way to prevent them. Arthritis following joint injury can be prevented by following safety regulations.</p>
        </div>
        <div class="col">
          <br>
          <img src="../static/images/arthiritis.png" class="img-fluid" alt="arithritis" style="height:256px;width:256px;">
        </div>
      </div>
      <div class="row" style="border-bottom-style:solid">
        <div class="col">
          <br>
          <img alt = "back pain" src="../static/images/back_pain.png" class="img-fluid" style="height:256px;width:256px;">
        </div>
        <div class="col">
          <br>
          <h2>Back Pain</h2>
          <p>Back pain can range from just an annoying ache to constant and severe pain. It can prevent people from having mobility and interfering with normal functioning in life. Neck pain occurs in the cervical vertebrae in the neck. It leaves it unprotected and easy to get injured. This can be acute and lasys for weeks, months, or years.</p>
          <p>Back and neck pain can be eased up on the pressure the patient has been putting on their back. Many people have a minor choice in that matter. The pain will force them to drop to their knees or get into a bent-over position. Others would be able to function normally, but with uncomfortable pain. Acute back pain will show days of restricting activity and taking the appropriate medication. They can also get massages or apply ice for 48 hours. A limited movement of muscles and joints is more effective to treat simple back pain than passive methods.</p>
        </div>
      </div>
      <div class="row" style="border-bottom-style:solid">
        <div class="col">
          <br>
          <h2>Irregular Menstruation</h2>
          <p>Abnormal periods are the first fundamental system of endometriosis. They include painful menstrual cramping not relieved by NSAIDS, heacvy menstrual flow, nausea, gassiness, diarrhea, urination, chronic pelvic pain, headaches, and fatigue. This correlates with a primary symptom of abnormal periods, and painful periods can include more than just painful menstrual cramps.</p>
          <p>
            Irregular periods can be treated wityh a healthful lifestyle. Herbal remedies also seem to help, but research has not confirmed their effectiveness. Irregular periods occuring during puberty or as a woman approaches menopause do not usually require treatment. In cases of PCOS, overweight, or obesity, the patient can lose weight to help stabilize menstruation, leading to lower testosterone levels.
          </p>
        </div>
        <div class="col">
          <br>
          <img id = "icons" alt="irregular mensturation" src="../static/images/irregular_mensturation.png" class="img-fluid" style="height:64px;width:64px;">
        </div>
      </div>
      <div class="row" style="border-bottom-style:solid">
        <br>
        <div class="col">
          <br>
          <img id = "icons" src="../static/images/nausea.png" class="img-fluid" alt="nausea" style="width:256px;height:256px">
        </div>
        <br>
        <div class="col">
          <br>
          <h2>Nausea</h2>
          <p>Nausea is uneasiness of the stomach preceding vomiting, which is forcible open emptying of contents from the stomach through the mouth. This is triggered by motion sickness, early stages of pregnancy, medication caused vomiting, severe pain, emotional stress, gallbladder problems, food poisoning, and overeating. It is also a symptom to some threatening diseases, like a heart attack.</p>
          <p>Ginger may be effective to reduce nausea at experiences after chemotherapy treatments or operations. Peppermint Aromatherapy could reduce nausea in more than half of the cases. Acupuncture and acupressure at the wrist are proven methods. Citrus scents, especially those from freshly sliced lemons, can help nausea in pregnant women, after a study of 100 pregnant women rating their nausea up to 9% after inhaling lemon essential oils.</p>
        </div>
      </div>
      <div class="row" style="border-bottom-style:solid">
        <div class="col">
          <br>
          <h2>Gall Bladder</h2>
          <p>Gallbladders are small pouches under the liver, storing bile. For unclear reasons, gallstones can form in the gallbladder, and they are formed by the bile crystalizing. They can cause pain, nausea, or inflammation.</p>
          <p>Gallstones are usually removed by surgeries, but there are natural remedies; gallbladder cleanse breaks down the gallstones and removes them from the body, and some people believe that apple juice softens the gallstones to make it easy for them to be removed from the body. Dandelion roots' bitter tastes can stimulate bile production in the gallbladder. Acupuncture is also a proven method to relieve gallstone symptoms despite the limited research.</p>
        </div>
        <div class="col">
          <br>
          <img id = "icons" src="../static/images/gallbladder.png" class="img-fluid" alt="gall bladder" style="height:256px;width:256px">
        </div>
      </div>
      <div class="row" style="border-bottom-style:solid">
        <br>
        <div class="col">
          <br>
          <img id = "icons" src="../static/images/heart_disease.png" class="img-fluid" alt="heart disease" style="height:256px;width:256px;">
        </div>
        <br>
        <div class="col">
          <br>
          <h2>Heart Disease</h2>
          <p>Heart Disease comes in a range of conditions affecting the heart, causing blocked blood vessels and heart defeats. Symptoms can include chest pain and discomfort, shortness of breath, pain, numbness, weakness in the limbs, and pain in the torso or the jaw. These symptoms can be caused by abnormal heartbeats.</p>
          <p>Lifestyle adaptions such as drinking appropriate amounts of water each day aim to relieve symptoms, reduce the risk of the condition worsening, and prevent complications. It can also aim to stabilize heart rhythms and widen arteries.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br>
          <h2>Chronic Pain</h2>
          <p>Chronic pain causes the body to have pain a period of time after the injury. It lasts for 3 to 6 months or more. It can create real effects to everyday life and mental health. It is caused by past surgeries, back problems, headaches, arthritis, nerve damage, infections, and fibromyalgia.</p>
          <p>There are both oral and topical therapies for the treatment of chronic pain. There are also medications that can b applied to the skin as an ointment or by a patch. There are alternative methods, such as acupuncture and Transcutaneous Electro-Nerve Stimulator using pads on the skin to provide stimulation and reduce some pain symptoms.</p>
        </div>
        <div class="col">
          <br>
          <img id = "icons" src="../static/images/chronic_pain.png" class="img-fluid" alt="chronic pain" style="height:256px;width:256px;">
        </div>
      </div>
{{end}}